body {
	font-family: helvetica, sans-serif;
	}
				/*background-size: contain;*
				/*This will make the background color black an not see-through: background-color: rgba(0, 0, 0,1);*/
				/* Find interesting fonts online at www.google.com/fonts/*/ 
  .header {
   background: rgba(47, 164, 172, 1);
   padding: 0px 60px 10px 60px;
}
