body {
	font-family: helvetica, sans-serif;
}
				/*background-size: contain;*
				/*This will make the background color black an not see-through: background-color: rgba(0, 0, 0,1);*/
				/* Find interesting fonts online at www.google.com/fonts/*/ 
  .header {
   background: rgba(47, 164, 172, 1);
   padding: 0px 60px 10px 60px;
   border-style: solid;
   border-width: 5px;
   border-radius: 5px;
  }
#bodybackground {
  background: url(background.jpg);
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: center;
}

h1 {
  color: rgba(47, 164, 172, 1);
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

